/*!
Theme Name: revista_morar
Theme URI: http://jucamillo.com.br/
Author: JuCamillo Web Co
Author URI: http://jucamillo.com.br/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: revista_morar
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

revista_morar is based on JuCamillo

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}.screen-reader-text{border:0;clip:rect(1px,1px,1px,1px);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute!important;width:1px;word-wrap:normal!important}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip:auto!important;clip-path:none;color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{position:relative;min-height:1px;padding-left:15px;padding-right:15px}.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{float:left}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}@media (min-width:768px){.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666667%}.col-sm-pull-10{right:83.33333333%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666667%}.col-sm-pull-7{right:58.33333333%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666667%}.col-sm-pull-4{right:33.33333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.66666667%}.col-sm-pull-1{right:8.33333333%}.col-sm-pull-0{right:auto}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666667%}.col-sm-push-10{left:83.33333333%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666667%}.col-sm-push-7{left:58.33333333%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666667%}.col-sm-push-4{left:33.33333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.66666667%}.col-sm-push-1{left:8.33333333%}.col-sm-push-0{left:auto}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666667%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-0{margin-left:0}}@media (min-width:992px){.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}@media (min-width:1280px){.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666667%}.col-lg-pull-10{right:83.33333333%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666667%}.col-lg-pull-7{right:58.33333333%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666667%}.col-lg-pull-4{right:33.33333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.66666667%}.col-lg-pull-1{right:8.33333333%}.col-lg-pull-0{right:auto}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666667%}.col-lg-push-10{left:83.33333333%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666667%}.col-lg-push-7{left:58.33333333%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666667%}.col-lg-push-4{left:33.33333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.66666667%}.col-lg-push-1{left:8.33333333%}.col-lg-push-0{left:auto}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666667%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-0{margin-left:0}}



@font-face {
    font-family: 'Charter';
    src: url('fonts/charter_bold_italic-webfont.eot');
    src: url('fonts/charter_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/charter_bold_italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}
@font-face {
    font-family: 'Charter';
    src: url('fonts/charter_bold-webfont.eot');
    src: url('fonts/charter_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/charter_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Charter';
    src: url('fonts/fonts/charter_italic-webfont.eot');
    src: url('fonts/fonts/charter_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fonts/charter_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Charter';
    src: url('fonts/charter_regular-webfont.eot');
    src: url('fonts/charter_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/charter_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.vc_section{
	margin: 0 !important;
	padding: 0 !important;
}
.vc_section > .vc_row,
.container{
    width: 1280px !important;
    margin: 0 auto !important;
}
body{
    margin: 0;
    color: #54555E;
    font-size: 16px;
    line-height: 1.6;
    font-family: Montserrat;
}

input, button, select, textarea{
    color: #54555E;
    font-size: 16px;
    line-height: 1.6;
    font-family: Montserrat;
}
article{
    font-family: 'Charter';
    font-size: 18px;
}
ul,
ol,
li{
	margin: 0;
	padding: 0;
}
*{
    margin: 0;
    padding: 0;
    outline:none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Firefox */
    -moz-transition: all 0.4s ease;
    /* WebKit */
    -webkit-transition: all 0.4s ease;
    /* Opera */
    -o-transition: all 0.4s ease;
    /* Standard */
    transition: all 0.4s ease;
}
.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li{
	margin: 0 !important;
}

section,
footer,
header{
    float: left;
    width: 100%;
}
section.list-archive-section,
.miolo-site > * > section.vc_section {
    padding: 70px 0 !important;
}
a{
    color: inherit;
    text-decoration: none;
}
p{
    margin: 0 0 15px;
}
#page{
    overflow: hidden;
}
header{
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1B2751;
}
header + *{
    margin-top: 90px;
}

header nav.main-navigation,
header .col-xs-12{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
}

header nav.main-navigation ul{
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
    font-size: 14px;
}
header nav.main-navigation ul a{
    padding: 2px;
    color: #fff;
}
header nav.main-navigation ul#primary-menu > li:hover > a{
    color: #EA5324;    
}

header nav.main-navigation ul#primary-menu > li + li{
    margin-left: 25px;
}

header nav.main-navigation ul#primary-menu > li.menu-item-has-children{
    position: relative;
}
header nav.main-navigation ul#primary-menu > li.menu-item-has-children > a{
    padding-right: 20px;
    position: relative;
}
header nav.main-navigation ul#primary-menu > li.menu-item-has-children > a:after{
    content: '';
    width: 10px;
    height: 10px;
    background-position: right center;
    background-image: url(images/down.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top:calc(50% - 5px);

}
header nav.main-navigation ul ul.sub-menu{
    position: absolute;
    left: 0;
    top: 100%;
    flex-flow: column;
    width: 160px;
    opacity: 0;
    background: #EA5324;
    z-index: 1;

    pointer-events: none;
}
header nav.main-navigation ul li.focus ul.sub-menu,
header nav.main-navigation ul li:hover ul.sub-menu{
    top: calc(100% + 34px);
    opacity: 1;
    
    pointer-events: inherit;
}
header nav.main-navigation ul li.menu-item-has-children:before{
    content: '';
    position: absolute;
    left: 0;
    height: 34px;
    z-index: 2;
    background: #1B2751;
    width: 160px;
    bottom: 0;
    transform: translateY(100%);
}
header nav.main-navigation ul ul.sub-menu li{
    width: 100%;
}
header nav.main-navigation ul ul.sub-menu a{
    padding: 10px 20px;
    width: 100%;
    float: left;
    border-bottom: 1px solid rgba(255,255,255,.2);
}
header nav.main-navigation ul ul.sub-menu li:last-child a{
    border-bottom: 0;
}
header nav.main-navigation .menu-toggle{
	display: none;
}
header .branding{
    width: 245px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .branding *{
    display: flex;
    align-items: center;
    justify-content: center;
}
header .branding > *,
header .branding > * > *{
    width: 100%;
    height: auto;
}

header form.search-form {
    width: 40px;
    height: 40px;
    position: relative;
}
header form.search-form input{
    width: 0;
    height: 40px;
    border:0;
    color: #fff;
    background:#222f5d;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
header.search_active form.search-form input{   
    width: 220px;
    padding-left: 10px;
    transform: translateX(-100%);
}
header form.search-form button{
    background: #1B2751;
    border:0;
    display: flex;
    z-index: 2;
    align-items: center;
    width: 40px;
    height: 40px;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
header.search_active  .menu-principal-container{
    opacity: 0;
}
header.scroll{
    height: 60px
}
header.scroll .branding {
    width: 160px;
    margin-bottom: 5px;
}
header.scroll nav.main-navigation ul li.menu-item-has-children:before {
    height: 19px;
}
header.scroll nav.main-navigation ul li:hover ul.sub-menu {
    top: calc(100% + 19px);
}
h1, h2, h3, h4{
    margin: 0;
}

.banner_destaque{
    float: left;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}
.banner_destaque:before{
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    pointer-events: none;
}
.banner_destaque .container{
    height: 720px;
    padding-bottom: 130px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.banner_destaque .container > *{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}
.banner_destaque a.title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row;
    background: #F1F1F1;
    padding: 8px;
    float: left;
}
.banner_destaque a.title span{
    background: #F6A141;
    display: flex;
    align-items: center;
    line-height: 1;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px 8px;
}
.banner_destaque a.title h3{
    font-size: 14px;
    line-height: 1.4;
    color: #575757;
    font-family: 'Charter';
    font-weight: normal;
    margin: 0 8px 0 15px;
}
.banner_destaque h2{
    color: #fff;
    line-height: 1.2;
    font-weight: 700;
    font-size: 36px;
    margin: 50px 0 !important;
}

.banner_destaque .container > *{
    opacity: 0;
    transform: translateX(20%);
    /* Firefox */
    -moz-transition: all 1.5s ease;
    /* WebKit */
    -webkit-transition: all 1.5s ease;
    /* Opera */
    -o-transition: all 1.5s ease;
    /* Standard */
    transition: all 1.5s ease;
}
.banner_destaque.active .container > *{
    opacity: 1;
    transform: translateX(0%);
}
.archive_author ul.equipe.pessoas.single,
.page-colunas section.vc_section > *,
.page-revista-morar #quem-somos{
    opacity: 0;
    transform: translateY(10%);
    /* Firefox */
    -moz-transition: all 1.5s ease;
    /* WebKit */
    -webkit-transition: all 1.5s ease;
    /* Opera */
    -o-transition: all 1.5s ease;
    /* Standard */
    transition: all 1.5s ease;
    
}
.title_section .col-xs-12{
    opacity: 0;
    transform: translateX(-15%);
    /* Firefox */
    -moz-transition: all 1.5s ease;
    /* WebKit */
    -webkit-transition: all 1.5s ease;
    /* Opera */
    -o-transition: all 1.5s ease;
    /* Standard */
    transition: all 1.5s ease;

}
.page-contato .vc_section > * > *:nth-child(1),
section.destaque_archive.archive_podcast > * > .col-lg-4:nth-child(1) {
    transform: translateX(-20%);
    opacity: 0;
    /* Firefox */
    -moz-transition: all 1.5s ease;
    /* WebKit */
    -webkit-transition: all 1.5s ease;
    /* Opera */
    -o-transition: all 1.5s ease;
    /* Standard */
    transition: all 1.5s ease;
}

.page-contato .vc_section > * > *:nth-child(2),
section.list-archive-section.archive_guia > * > .col-xs-12:nth-child(1),
section.destaque_archive.archive_edicao > * > .col-xs-12:nth-child(1),
section.destaque_archive.archive_video > * > .col-xs-12:nth-child(1),
section.destaque_archive.archive_podcast > * > .col-lg-8:nth-child(2) {
    transform: translateY(20%);
    opacity: 0;
    /* Firefox */
    -moz-transition: all 1.5s ease;
    /* WebKit */
    -webkit-transition: all 1.5s ease;
    /* Opera */
    -o-transition: all 1.5s ease;
    /* Standard */
    transition: all 1.5s ease;
    transition-delay: .6s;
}
section.list-archive-section.archive_guia > * > .col-xs-12:nth-child(1),
section.destaque_archive.archive_edicao > * > .col-xs-12:nth-child(1),
section.destaque_archive.archive_video > * > .col-xs-12:nth-child(1){
    transition-delay: 0s;

}
.page-contato .vc_section.active > * > *:nth-child(1),
.page-contato .vc_section.active > * > *:nth-child(2),
section.list-archive-section.archive_guia.active > * > .col-xs-12:nth-child(1),
section.destaque_archive.archive_edicao.active > * > .col-xs-12:nth-child(1),
section.destaque_archive.archive_podcast.active > * > .col-lg-8:nth-child(2),
section.miolo.list-archive-section.archive_podcast.active > * > .col-xs-12{
    opacity: 1;
    transform: translateY(0%);
}

section.destaque_archive.archive_video.active > * > .col-xs-12:nth-child(1),
section.destaque_archive.archive_podcast.active > * > .col-lg-4:nth-child(1),
.title_section.active .col-xs-12{
    opacity: 1;
    transform: translateX(0%);
}
.title_section{
    background-position: 120% center !important;
    /* Firefox */
    -moz-transition: all 1.5s ease;
    /* WebKit */
    -webkit-transition: all 1.5s ease;
    /* Opera */
    -o-transition: all 1.5s ease;
    /* Standard */
    transition: all 1.5s ease;
    transition-delay: .2s;
}
.title_section.active{
    background-position: 100% center !important;
}

.archive_author ul.equipe.pessoas.single{
    transform: translateY(15%);
}
.archive_author ul.equipe.pessoas.single.active,
.page-colunas section.vc_section.active > *,
.page-revista-morar #quem-somos.active{
    opacity: 1;
    transform: translateY(0%);

}


.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li.wpuf-submit input[type=submit],
.btn{
    background: #EA5324 !important;
    border:1px solid #EA5324 !important;
    font-weight: 800 !important;
    font-size: 13px !important;
    line-height: 1.2 !important;
    letter-spacing: 1px !important;
    padding: 20px 32px !important;
    color: #fff !important;
    text-transform: uppercase !important;
    font-family: Montserrat !important;
    cursor: pointer !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li.wpuf-submit input[type=submit]:hover,
ul.edicao li.single > a:hover .btn,
.btn:hover{
    background: transparent !important;
    color: #EA5324 !important;
}
.banner_destaque a.title:hover span,
.banner_destaque .btn:hover{
    background: #1B2751 !important;
    border-color: #1B2751 !important;
    color: #fff !important; 
}
.miolo-site > * > section.vc_section[data-vc-full-width="true"] {
    padding: 0 !important;
    overflow: visible !important;
}
.miolo-site > * > section.vc_section#banner > .vc_row,
.miolo-site > * > section.vc_section > .vc_row[data-vc-full-width-init="true"]{
    width: 100% !important;
    max-width: 100% !important;
    left: auto !important;
}


ul.novidades_topo{
    list-style: none;
    width: 100%;
    padding: 0;
    margin:-130px 0 0 0;
    background: #F1F1F1;
    padding: 24px;
    float: left;
}

ul.novidades_topo li{
    float: left;
    width: 50%;
}
ul.novidades_topo li a{
    padding-top: 90%;
}
.single > a{
    position: relative;
    overflow: hidden; 
    float: left;
    width: 100%;   
}
ul.novidades_topo li:not(:first-child) a{
    padding-top: 45%;
}
ul.novidades_topo li:not(:first-child) .txt p{
    display: none;
}
.single .conteudo,
.single .img{
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.single .conteudo{
    background: linear-gradient(178.53deg, rgba(0, 0, 0, 0.4) 1.25%, rgba(0, 0, 0, 0) 98.79%);
    z-index: 1;
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    padding:30px 20px 20px;
    justify-content: space-between;
}
.single > a:hover .img{
    transform: scale(1.06);
}
.single > a:hover .img:before{
    opacity: 1;
}
.single .img:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(178.53deg, rgba(0, 0, 0, 0.2) 98.79%, rgba(0, 0, 0, 0) 1.25%);
    opacity: 0;
    /* Firefox */
    -moz-transition: all 0.4s ease;
    /* WebKit */
    -webkit-transition: all 0.4s ease;
    /* Opera */
    -o-transition: all 0.4s ease;
    /* Standard */
    transition: all 0.4s ease;
}

.single .txt p{
    line-height: 1.4;
    font-size: 14px;
    margin: 0;
}
ul.novidades_topo .single .txt p{
    font-family: Charter;
    color: #FFFFFF;
}
.single .txt h3,
.single .txt h2{
    font-weight: 600;
    font-size: 24px;
    line-height: 1.3;
    color: #FFFFFF;
    margin: 0 0 15px !important;

}
.single .txt h3{
    font-size: 18px;
}
.single  .txt{
    width: 100%;
    float: left;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}
.tags .tag,
.single .tag{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    font-size: 12px;
    line-height: 1.4;
    padding: 5px;
    float: left;
}
.single .topo{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.tags .tag + .tag,
.single .tag + .tag{
    margin-top: 5px;
}
.single .tag span{
    margin-left: 5px;
}
.single_noticia article .top .author,
.single .conteudo .txt .author{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
}
.single_noticia article .top .author .foto,
.single .conteudo .txt .author .foto{
    width: 24px;
    height: 24px;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}
.single_noticia article .top .author .info,
.single .conteudo .txt .author .info{
    width: calc(100% - 34px);
    font-size: 10px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: #fff;
    line-height: 1.2;
}
.single .conteudo .txt .author .info span{
    margin-top: 2px;
}

.single .conteudo .play{
    background: #FFFFFF;
    border-radius: 44px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    color: #838383;
    padding: 6px 15px 6px 6px;
    float: left;
}
.single .conteudo .play span{
    margin-left: 8px;
}

.single .conteudo .num_ep{
    font-weight: bold;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    color: #F6A141;
    margin: 16px 0 10px
}

.single .conteudo span.time{
    background: #272727;
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
    line-height: 1;
    color: #FFFFFF;
}

ul.novidades_topo .single .tag span{
    margin-left: 10px;
}
ul.novidades_topo .single .tag{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    color: #F6A141;
    padding: 0;
}
ul.novidades_topo .single .conteudo{
    padding: 40px;    
}
ul.novidades_topo .single .conteudo .txt{
    width: 75%;
}
.alm-reveal{
    display: flex;
    flex-flow: wrap;
    width: 100%;
} 
ul.edicao,  
ul.pessoas,
ul.video,
ul.podcast,
ul.colunas{
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
    list-style: none;
    display: flex;
    flex-flow: wrap;
    margin-top: 10px;
}
ul.podcast li,
ul.colunas li{
    width: calc(33.333333333% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 40px;
}
ul.podcast li.single > a,
ul.colunas li.single > a{
    padding-top: 132%;
}
#tvmorar .title-coluna > .wpb_wrapper,
#colunas .title-coluna > .wpb_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#tvmorar .title-coluna > .wpb_wrapper p,
#colunas .title-coluna > .wpb_wrapper p {
    margin: 0;
}
.single_noticia aside.relacionados h2,
.single_guia .info h3,
body.archive #content h2,
.wpb_text_column h2{
    font-weight: 600;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #645F7D;
    margin: 0;
}
#tvmorar .title-coluna img,
#tvmorar .title-coluna svg,
#colunas .title-coluna img,
#colunas .title-coluna svg{
    margin-right: 24px;
    margin-top: 5px;
}
.single_noticia aside.relacionados h2,
.single_guia .info h3,
body.archive #content h2,
#colunas > * > *:nth-child(2) .title-coluna  h2{
    font-size: 24px;
}

#colunas > * > *:nth-child(2) .title-coluna  h2 em{
    font-family: Charter;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0;
    text-transform: none;
    color: #A5A0B3;
}
.miolo-site > * > section.vc_section#tvmorar,
.miolo-site > * > section.vc_section#colunas{
    padding-top: 0 !important;
}
#tvmorar > * > *:nth-child(2) .vc_row,
#colunas > * > *:nth-child(2) .vc_row{
    background: #E5E5E5;
    margin-left: 0;
    margin-right: 0;
    padding-top: 40px;
    margin-bottom: 15px;
}
#tvmorar > * > *:nth-child(1),
#colunas > * > *:nth-child(1){
    padding-top: 70px;
}

#tvmorar > * > *:nth-child(2) .vc_row > * > * ,
#colunas > * > *:nth-child(2) .vc_row > * > * {
    padding: 0;
}
#colunas > * > *:nth-child(2) .title-coluna {
    padding: 0 30px;
}
ul.colunistas{
    list-style: none;
    margin: 25px 0 0 0;
    width: 100%;
    padding: 0;
    display: flex;
    flex-flow: wrap;
}
ul.colunistas li{
    width: 100%;
    border-bottom: 1px solid rgba(100, 95, 125, 0.1);
}
ul.colunistas .single .conteudo{
    background: transparent;
    position: static;
    width: 100%;
    padding:15px 30px;
}
ul.colunistas .single .conteudo h3{
    font-size: 14px;
    color: #645F7D;
    font-weight: normal;
    margin: 8px 0 0 0 !important;
    line-height: 1.4;
}

ul.colunistas .single .conteudo .txt .author .foto{
    width: 48px;
    height: 48px;
}

ul.colunistas .single .conteudo .txt .author .info{
    width: calc(100% - 58px);
    font-size: 12px;
    color: #A5A0B3;
}
ul.colunistas .single .conteudo .txt .author .info strong{
    font-weight: 600;
    font-size: 16px;
    color: #313C68;
}
.vc_btn3-container{
    margin: 40px 0 0 0 !important;
}
.alm-btn-wrap {
    margin: 40px 0 0 0 !important;
    padding: 0 !important;
}
.alm-btn-wrap .alm-load-more-btn,
.vc_btn3-container > *{
    font-weight: normal !important;
    font-size: 12px !important;
    line-height: 1 !important;
    letter-spacing: 1px !important;
    color: #EA5324 !important;
    padding:30px !important;
    height: auto !important;
    width: 100% !important;
    border:0 !important;
    background: transparent !important;
    border-radius: 0  !important;
}
.vc_btn3-container > *:hover{
    color: #1B2751 !important;
}

.alm-btn-wrap .alm-load-more-btn,
.vc_btn3-container > .vc_btn3-style-outline{
    padding: 20px 80px !important;
    width: auto !important;
    border: 1px solid #EA5324 !important;
}
.alm-btn-wrap .alm-load-more-btn:hover,
.vc_btn3-container > .vc_btn3-style-outline:hover{
    color: #fff !important;
    background: #EA5324 !important;    
}
#colunas > * > *:nth-child(2) .vc_row .vc_btn3-container{
    margin: 0 !important;
}

.vc_section#podcast > * > *:nth-child(1){
    background: linear-gradient(90deg, #EA5324 29.77%, #F6A141 162.95%);
    padding-top: 140px;
    padding-bottom: 140px;
    color: #fff;
    position: relative;
    border-radius: 0 360px 360px 0;
    font-size: 14px;
}
.vc_section#podcast > * > *:nth-child(1):before{
    content: '';
    position: absolute;
    left: 1px;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
    background: #EA5324;
}
.vc_section#podcast > * > *:nth-child(1) .wpb_text_column{
    padding-right: 100px;
}
.vc_section#podcast > * > *:nth-child(1) h2{
    margin: 0 0 20px;
    font-weight: bold;
    font-size: 18px;
    color: #22274F;
}
.vc_section#podcast .vc_btn3-container{
    margin-top: 0px !important;

}
.vc_section#podcast .vc_btn3-container > *{
    width: auto !important;
    padding: 20px 0px !important;
}
.vc_section#podcast .vc_btn3-container > *:hover{
    color: #fff !important;
}

.vc_section#podcast > * > *:nth-child(1) .wpb_text_column:last-child{
    margin-top: 15px !important;
}
ul.podcast{
    margin-left: 0;
    width: calc(100% + 15px);
    margin-top: 0;
}
body.home ul.podcast{
    width: calc(100% + 30px) !important;
    margin-left: -15px !important;
    margin-right: -15px !important;
    height: 480px;
}
body.home ul.podcast li{
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
}
/*
body.home ul.podcast .owl-item.active:first-child li:first-child,
body.home ul.podcast .owl-item:not(.active) + .owl-item.active li:first-child{
    width: calc(100% + 15px);
    margin-left: 0;
    margin-right: -15px;
    padding: 15px;
    border: 2px solid #645F7D;
    margin-top: 25px;
    float: left;
}
body.home ul.podcast .owl-item.active:first-child li:first-child > a,
body.home ul.podcast .owl-item:not(.active) + .owl-item.active li.single:first-child > a {
    padding-top: 150%;
}
*/
body.home ul.podcast .owl-item{
    padding: 0 15px;
}
body.home ul.podcast li:hover,
body.home ul.podcast li:hover{
    width: calc(100% + 15px);
    margin-left: -7.5px;
    margin-right: -7.5px;
    padding: 15px;
    border: 2px solid #645F7D;
    margin-top: 25px;
    float: left;
}
body.home ul.podcast li:hover > a,
body.home ul.podcast li.single:hover > a {
    padding-top: 150%;
}



ul.podcast .single .conteudo {
    padding: 15px;
}
.fancybox-button svg path{
    fill: #fff !important;
}
.fancybox-content{
    background: transparent !important;
}

ul.video li{
    width: calc(100% - 30px);
    margin: 0 15px;
}

ul.video.only li{
    padding: 20px;
    background-color: #E5E5E5;
}
.video-responsive{
    padding-bottom:65%;
}
.video-responsive .topo > *:first-child{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
}
ul.video.only .single .conteudo .txt {
    width: 65%;
}
ul.video.only .single .conteudo span.time{
    position: absolute;
    right: 30px;
    bottom: 30px;
}
ul.video.only .single .conteudo h3{
    margin: 20px 0 0 0 !important;
}
ul.video.only .single .conteudo{
    padding: 30px;
}

 
#tvmorar > * > *:nth-child(2) ul.video.list li {
    padding: 30px 20px;
    border-bottom: 1px solid rgba(100, 95, 125, 0.1);
}

#tvmorar > * > *:nth-child(2) .vc_btn3-container{
    margin-top: 0 !important;
}
#tvmorar > * > *:nth-child(2) .vc_row {
    padding-top: 25px;
    margin-bottom: 0;
}
ul.video.list li.single .side{
    width: 180px;
    overflow: hidden;
    position: relative;
}
ul.video.list li.single .conteudo{
    padding: 15px;
}


ul.video.list .video-responsive .topo > *:first-child{
    width: 30px;
    height: 30px;
    transform: translate(0);
    left: auto;
    right: 15px;
    top: auto;
    bottom: 15px;
}
ul.video.list li.single > a {
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
}
ul.video.list li.single > a .info {
    width: calc(100% - 180px);
    padding: 0 0 0 30px;
}

ul.video.list .single .txt h3{
    font-size: 14px;
    line-height: 1.4;
    font-weight: normal;
    color: #645F7D;
    margin: 10px 0 0 0 !important;
}


#tvmorar ul.video.only{
    margin-top: 50px;
}


.guia_bg{
    background-size: cover;
    background-position: center;
    padding: 50px 0 30px;
    color: #FFFFFF;
    background-attachment: fixed;
    background-size: 100%;
}
.revista .container,
.guia_bg .container{
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    text-align: center;
}
.guia_bg h2{
    font-weight: bold;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: 4px;
    color: #F6A141;
}
.guia_bg h3{
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    margin: 10px 0;
}
.guia_bg p{
    font-family: Charter;
    font-size: 14px;
    padding: 0 90px;
}
.guia_bg p .btn{
    display: inline-block;
    margin: 25px 0 15px;
}
.guia_bg p a:not(.btn){
    font-family: Montserrat;
    text-decoration: underline;
    font-weight: bold;
}

.guia_bg p a:not(.btn):hover{
    text-decoration: none;
}
.revista{
    background-color: #FFE6C9;
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto 100% ;
    padding-top: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;
    color: #22274F;
}
section.revista img{max-width: 100%;}

.revista .container {
    flex-flow: wrap;
    text-align: left;
}
.revista .container > *{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-flow: column;
}
.revista .container > *:last-child{
    align-items: flex-start;
    justify-content: center;
}
.revista h3{
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #EA5324;
    line-height: 1.2;
    margin-bottom: 30px;

}
.revista .btn{
    display: inline-block;
    margin: 20px 0 0px;
}

footer .container{
    display: flex;
    flex-flow: wrap;
}
footer{
    background: #1B2751;
    padding: 0;
    font-size: 14px;
    color: #fff;
    line-height: 1.4;
}
footer .container > *{
    padding-top: 70px;
    padding-bottom: 70px;
}
footer ul.social,
footer ul.menu{
    margin: 0;
    padding: 0;
    color: #EA5324;
    list-style: none;
    display: flex;
    flex-flow: column;
}
footer ul.social {
    align-items: center;
    justify-content: flex-start;
    flex-flow: wrap;
    font-size: 22px;
    margin: 0 0 15px;
}
footer ul.social a{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer ul.social a *{
    color: #EA5324;

}
footer ul.social a:hover *{
    color: #fff;
}
footer ul.menu a:hover{
    text-decoration: underline;
}
footer ul.menu li + li{
    margin-top: 15px;
}
footer ul.social li + li{
    margin-left: 3px;
}
footer ul.menu li:last-child,
footer ul.menu ul{
    display: none;
}


footer .branding{
    display: flex;
}

footer p.sobre{
    font-size: 12px;
    margin: 20px 0 0 0;
    padding-right: 20px;
}


footer h3{
    font-weight: bold;
    letter-spacing: 4px;
    color: #F6A141;
    margin-bottom: 5px;
}
footer .news{ 
    font-weight: 600;
    font-size: 16px;
    background: #313C68;
    padding-left: 50px;
    position: relative;
}
footer p a{
    text-decoration: underline;
}
footer p a:hover{
    text-decoration: none;
}
footer .container > .news:before{
    content: '';
    background: #313C68;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(100%);
    position: absolute;
}
.wpcf7-form-control-wrap + br{
    display: none;
}
.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li input[type="email"],
.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li input[type="text"],
.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li textarea,
.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li select,
.wpcf7-form-control-wrap,
.wpcf7-form-control-wrap input,
.wpcf7-form-control-wrap select,
.wpcf7-form-control-wrap textarea{
    display: block;
    width: 100% !important;
}
.wpcf7-form-control-wrap{
    margin-bottom: 1px;
}
.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li input[type="email"],
.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li input[type="text"],
.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li textarea,
.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li select,
.wpcf7-form-control-wrap input,
.wpcf7-form-control-wrap select,
.wpcf7-form-control-wrap textarea{
    border:0 !important;
    border-radius: 0 !important;
    background: #fff !important;
    font-weight: normal !important;
    font-size: 12px !important;
    padding:15px 25px !important;
    box-shadow: none !important;
}
.vc_section .wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li input[type="email"],
.vc_section .wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li input[type="text"],
.vc_section .wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li textarea,
.vc_section .wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li select,
.vc_section .wpcf7-form-control-wrap input,
.vc_section .wpcf7-form-control-wrap select,
.vc_section .wpcf7-form-control-wrap textarea{
    background: #F7F7F7 !important;
    border: 1px solid #EBEBEB !important;
    padding: 12px 15px !important;
}

#obrigado .wpb_text_column,
.vc_section .wpuf-form-add.wpuf-form-layout3{
    background: #FFFFFF;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 40px;
}
input.wpcf7-form-control.wpcf7-submit.btn{
    margin-top: 15px;
}

.destaque_archive .logo_morar:before,
.vc_section#podcast > * > *:nth-child(1):before,
footer .container > .news:before{
    width: calc(50vw - 555px);    
}

.wpcf7-not-valid-tip{
    font-size: 12px;
    padding: 5px 0;
}


.wpcf7 form .wpcf7-response-output {
    font-size: 12px;
    padding: 5px;
    margin: 15px 0 0;
    font-weight: normal;
}
.destaque_archive{
    background: #F5F5F5;
    padding: 50px 0 90px;
}
.list-archive-section ul.podcast li{
    width: calc(50% - 30px);
    margin:30px 15px 0 15px;
}

.archive_podcast ul.podcast{
        margin-left: -15px;
    width: calc(100% + 30px);
}

.archive_podcast ul.podcast li.single > a{
    padding-top: 0;
    display: flex;
    flex-flow: wrap;

}
.archive_podcast ul.podcast li.single > a .imagem{
    padding-top: 132%;
    float: left;
    width: 100%;
}
.archive_podcast ul.podcast li.single > a .imagem .img{
    float: left;
    width: 100%;
}
.archive_podcast ul.podcast li{
    padding: 15px;
    background: #E5E5E5;
}

.archive_podcast ul.podcast li .block-img{
    width: 280px;
    position: relative;
    overflow: hidden;
}
.archive_podcast ul.podcast li .block-img .img:before{
    opacity: 1;
}
.archive_podcast ul.podcast li .conteudo {
    width: calc(100% - 280px);
    padding: 0 30px 0 20px;
    position: static;
    background: transparent;
    justify-content: center;
}
.archive_podcast ul.podcast .single .conteudo .play{
    margin-bottom: 15px;
}
.archive_podcast  ul.podcast .single .conteudo .txt .author .info,
.archive_podcast ul.podcast .single .txt h3{
    color: #313C68;
}
.archive_podcast ul.podcast .single .txt p{
    color: #645F7D;
    margin-bottom: 20px;
}
.archive_podcast ul.podcast .single .txt h3{
    margin-bottom: 10px !important;
}

.destaque_archive ul.podcast li{
    width: calc(100% - 30px);
    margin:0px 15px 0;
}
.destaque_archive ul.podcast li .block-img{
    width: 364px;
    position: relative;
    overflow: hidden;
}
.destaque_archive ul.podcast li .conteudo {
    width: calc(100% - 364px);
    padding: 0 0 0 30px;
}
.destaque_archive.archive_podcast ul.podcast .single .conteudo .play{
    margin-bottom: 40px;
}
.destaque_archive.archive_podcast ul.podcast .single .conteudo .num_ep{
    margin-top: 30px;
}
.destaque_archive .logo_morar{
    background: linear-gradient(90deg, #EA5324 29.77%, #F6A141 162.95%);
    background: linear-gradient(90deg, #EA5324 21.02%, #F6A141 100%);
    padding: 50px 100px 50px 0;
    border-radius: 0 200px 200px 0;
    position: relative;
    width: auto;
    float: left;
    margin: 0 0 60px;
}
.destaque_archive .logo_morar:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
    background: #EA5324;
}
.destaque_archive .logo_morar + p{
    float: left;
    width: 100%;
    font-size: 14px;
    color: #645F7D;
    padding-right: 80px;
}
body.archive #content h2{
    margin-bottom: 30px;
}
body.archive #content .list-archive-section h2{
    margin-bottom: 10px;
}
.list-archive-section ul.video li{
    width: calc(33.333333% - 30px);
    margin-top: 40px;
}


.mobile{
    display: none !important;
}
.desktop{
    display: flex !important;
}





.destaque_archive ul.video.list li{
    padding: 20px;
    background: #E5E5E5;
}

.destaque_archive ul.video.list li.single .side{
    width: 664px;
}

.destaque_archive ul.video.list li.single > a .info {
    width: calc(100% - 664px);
}

.destaque_archive ul.video.list .single .txt h3{
    font-weight: bold;
    font-size: 18px;
    color: #22274F;
    margin: 40px 0 20px !important;
}

.destaque_archive ul.video.list .single .txt p{
    font-weight: normal;
    font-size: 14px;
    color: #645F7D;
    margin: 0;

}

.destaque_archive ul.video.list li.single > a{
    align-items: center;
}


.destaque_archive ul.video.list .video-responsive .topo > *:first-child{
    width: 72px;
    height: 72px;
    right: auto;
    bottom: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.destaque_archive ul.video.list li.single .conteudo{
    align-items: flex-end;
}



.title_section{
    background: #313C68;
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.title_section .col-xs-12{
    padding-top: 30px;
    padding-bottom: 50px;
}
.title_section h3{
    font-weight: bold;
    font-size: 12px;
    line-height: 1.2;
    margin: 0 0 10px !important;
    letter-spacing: 4px;
    color: #F6A141;
    text-transform: uppercase;
}

.title_section h2,
.title_section h1{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    color: #FFFFFF;
    margin: 0 0!important;
}
#fazemos{
    color: #fff;
    font-size: 18px;
    line-height: 2;
}


body:not(.home) .wpb_text_column h3{
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #645F7D;
    margin:0 0 30px !important;
}
body:not(.home) #fazemos .wpb_text_column h3{
    color: #F6A141;    
}

#fazemos figure{
    padding: 10px;
    border: 2px solid #645F7D;
}
#fazemos .vc_col-sm-8{
    padding-right: 80px;
}
#fazemos > .vc_row:not(:first-child) > *{
    margin-top: 30px;
}

#acreditamos > .vc_row:not(:first-child){
    display: flex;
    flex-flow: wrap;
}
#acreditamos > .vc_row:not(:first-child) > * > *{
    display: flex;
    min-height: 100%;
}
#acreditamos > .vc_row:not(:first-child) > * > * > *{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background:#fff;
    padding: 90px 30px;
    position: relative;
    width: 100%;
    margin-top: 30px;
}

#acreditamos h4{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #22274F;
    margin: 0;
}


ul.pessoas li{
    width: calc(25% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
    display: flex;
    line-height: 1.4;
}
ul.pessoas li > *{
    width: 100%;
    display: flex;
    flex-flow: column; 
    background: #FFFFFF;
    padding: 20px 30px 50px;
    float: left;
}
ul.pessoas li p{
    margin: 15px 0 0 0;
    font-size: 14px;
    color: #645F7D;
}
ul.pessoas li .cargo{
    font-size: 12px;
    color: #A5A0B3;
}
ul.pessoas li h4{
    font-weight: 600;
    font-size: 16px;
    color: #313C68;
    margin: 25px 0 0 0;
}
ul.pessoas li .img{
    width: 100%;
    padding-top: 100%;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    position: static;
}
ul.pessoas li a:hover .img{
    transform: scale(.97);
}

ul.pessoas li .btn_light{
    font-weight: normal;
    font-size: 12px;
    line-height: 1.4;
    padding: 20px 0 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #EA5324;
    position: absolute;
    bottom: 0;
}
ul.pessoas li > a {
    padding-bottom: 60px;
    position: relative;
}
ul.pessoas li a:hover  h4{
    color: #EA5324;

}

ul.pessoas li a:hover .btn_light{
    color:  #1B2751;
}
.archive_noticias{
    background: #F5F5F5;
}
.archive_noticias ul.colunas li {
    width: calc(25% - 30px);
}
.filtro{
    display: flex;
    align-items: center;
}

.filtro h4{
    margin: 0 30px 0 0;
    font-weight: bold;
    font-size: 14px;
    color: #313C68;
}
.filtro ul{
    list-style: none;
    margin: 0;
}
.filtro > ul{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    line-height: 1.2;
    color: #313C68;
}
.filtro > ul li{
    position: relative;
}
.filtro > ul ul{
    top: 100%;
    position: absolute;
    width: 100%;
    z-index: 99;
    opacity: 0;
    top: 0;
    pointer-events: none;
}
.filtro > ul > li.active ul{
    top: 100%;
    opacity: 1;
    pointer-events: inherit;
}
.filtro > ul > li > span{
    background: #E5E5E5;
    padding: 15px 30px 15px 10px;
    color: #313C68;
    width: 175px;
    float: left;
    cursor: pointer;
}

.filtro > ul > li > span:before{
    content: '';
    width: 10px;
    height: 10px;
    background-position: right center;
    background-image: url(images/down.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 12px;
    top: calc(50% - 5px);
}
.filtro > ul > li + li{
    margin-left: 15px;
}
.filtro > ul a{
    background: #E5E5E5;
    padding: 15px 10px;
    width: 100%;
    float: left;
    color: #313C68;
}
.filtro > ul ul li.current-cat a,
.filtro > ul ul li.active a,
.filtro > ul a:hover{
    background: #1B2751;
    color: #fff;
}
 
.filtro > ul ul a{
    border-top: 1px solid rgba(49,60,104,.1);
}
.revista-side{
    padding-top: 118%;
    position: relative;
}
ul.edicao li a{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
ul.edicao li.single > a:hover .img {
    transform: none;
}
ul.edicao li.single .conteudo{
    padding: 0;
    background: transparent;
}
ul.edicao li.single .conteudo .img {
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
}
ul.edicao li.single .img:before{
    display: none;
}
.destaque_archive ul.edicao li{
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
}
.destaque_archive ul.edicao li .info{
    width: 32%;
    margin-left: 10%;
}
.destaque_archive iframe{
    height: 550px !important;
    width: 100% !important;
}
.single_edicao .col-xs-12{
    display: flex;
    align-items: flex-end;
}

ul.edicao li .side{
    width: 35%;
}
ul.edicao li .side * {
    float: left;
    width: 100%;
}

ul.edicao li .side {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
ul.edicao li.single h3{
    color: #F6A141;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;

}
ul.edicao li.single p{
    font-weight: bold;
    font-size: 14px;
    color: #313C68;
}
ul.edicao li.single .btn{
    margin-top: 30px;
}
ul.edicao li.single .txt{
    padding-top: 30px;
}
.destaque_archive.archive_edicao {
    padding-bottom: 0;
}
.destaque_archive ul.edicao li.single p{
    font-size: 24px;
    font-weight: 600;
}
.destaque_archive ul.edicao li.single .btn{
    margin-top: 40px;
}

ul.edicao.list li.single{
    background: #E5E5E5;
    width: calc(50% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 40px;
}
ul.edicao.list li .info {
    width: 55%;
    padding-right: 25px;
    padding-left: 20px;
    padding-bottom: 20px;
}
ul.edicao.list li.single a{
    padding: 10px 10px 0;
}
ul.edicao.list li.single .txt {
    padding-top: 10px;
}
ul.edicao.list li .side {
    width: 40%;
}
ul.pessoas.single li{
    width: calc(100% - 30px);
    display: flex;
    flex-flow: column;
    margin-top: 0;
}
ul.pessoas.single {
    margin-top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    top: -40px;
    margin-left: 0;
}
ul.pessoas.single li > *{
    padding-top: 40px;
}
.archive_noticias.archive_author ul.colunas > h4 {
    width: 100%;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 200px;
    color: #313C68;
}
.archive_noticias.archive_author ul.colunas > h4,
.archive_noticias.archive_author .filtro,
.archive_noticias.archive_author ul.colunas .alm-reveal:first-child li:first-child{
    margin-left: calc(25% + 15px);
}
section.miolo.list-archive-section.archive_noticias.archive_author {
    padding-top: 40px !important;
}

ul.wpuf-form li .wpuf-section-wrap {
    border: 0 !important;
    margin: 0 !important;
    text-align: left !important;
    font-size: 14px !important;
}
ul.wpuf-form li .wpuf-section-wrap h2.wpuf-section-title {
    font-size: 24px !important;
}
.wpcf7 .label,
.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li .wpuf-label {
    font-size: 14px !important;
    font-weight: bold !important;
    text-transform: none !important;
color: #313C68 !important;
}
.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li{
    margin-bottom: 15px !important;
}
.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li .wpuf-fields input[type="checkbox"]:before{
    left: 0 !important;
}
.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li .wpuf-fields input[type="checkbox"]:after{
    left: 4px !important;
    background: #EA5324 !important;
}
.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li .wpuf-fields a.file-selector,
.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li .wpuf-fields input[type="checkbox"]:before{
    border-color: #EA5324 !important;
}
.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li .wp-editor-wrap .wp-editor-container {
    border-color: #ebebeb !important;
    border-radius: 0 !important;
}
.mce-top-part::before{
    box-shadow: none !important;
}
.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li .wp-editor-wrap .mce-toolbar-grp {
    border-color: #ebebeb !important;
    background: #F7F7F7 !important;
    border-radius: 0 !important;
}
.mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    background: #F7F7F7;
}
.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li .wp-editor-wrap .mce-btn.mce-listbox{
    border-color: #ebebeb !important;
    border-radius: 0 !important;

}
.wpuf-form-add.wpuf-form-layout3 .mce-toolbar .mce-ico{
    color: inherit !important;
}
.wpuf-form .wpuf-multistep-progressbar ul.wpuf-step-wizard li::before, 
.wpuf-form .wpuf-multistep-progressbar ul.wpuf-step-wizard li::after{
    border-left-color: #f5f5f5 !important;
}
.wpuf-form-add .wpuf-form .wpuf-multistep-progressbar ul.wpuf-step-wizard li::after {
    border-left-color: #E4E4E4;
}

.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li .wp-editor-wrap .mce-statusbar{
    border-color: #efefef !important;
}
.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li + li.wpuf-el.section_break_copy_copy,
.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li + li.wpuf-el.section_break {
    margin-top: 50px;
}
.wpuf-form-add .wpuf-form .wpuf-multistep-progressbar ul.wpuf-step-wizard li.active-step, 
.wpuf-form-add .wpuf-form .wpuf-multistep-progressbar .ui-widget-header{
    background: #EA5324 !important;

}

.wpuf-form-add .wpuf-form .wpuf-multistep-progressbar ul.wpuf-step-wizard li.active-step::after{
    border-left-color:  #EA5324 !important;
}
.wpuf-form-add.wpuf-form-layout3 ul.wpuf-step-wizard li {
    text-transform: uppercase !important;
    font-weight: 600 !important;
    letter-spacing: 0px !important;

}
.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li.wpuf-submit input[type=submit] {
    float: right !important;
    position: absolute !important;
    right: 15px !important;
    bottom: 5px !important;
}
.wpuf-multistep-progressbar.wizard-steps{
    display: none !important;
}
fieldset.wpuf-multistep-fieldset{
    padding-bottom: 70px !important;
}
ul.wpuf-form li .wpuf-fields ul.wpuf-category-checklist {
    column-count: 2 !important;
    font-size: 14px;
}
#obrigado .wpb_text_column {
    padding: 150px 50px;
}
#obrigado .wpb_text_column h2 {
    font-size: 24px;
    margin-bottom: 50px !important;
}
#obrigado .wpb_text_column img,
#obrigado .wpb_text_column svg{
    width: 70px;
    height: auto;
    margin-bottom: 40px !important;
}
.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form .wpuf-errors,
.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li.has-error .wpuf-fields .wpuf-error-msg{
    font-size: 14px !important;
}

section.miolo.list-archive-section.archive_guia{
    background: #F5F5F5;
}
.single_guia ul.pessoas{
    margin-top: 0 !important;

}

.single_guia ul.pessoas li{
    width:calc(100% + 30px) !important;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
.single_guia ul.pessoas li > *{
    background: transparent !important;
    padding: 40px 30px 50px;
}

.single_guia{
    display: flex;
    flex-flow: wrap;
    width: 100%;
    background: #fff;
}

.single_guia > *:first-child{
    background: #E5E5E5;
}

.single_guia .info{
    padding: 40px;
font-size: 14px;
color: #645F7D;
}
.single_guia .info a:hover{
    opacity: .6;
}
.single_guia .info ul.social,
.single_guia .info ul.contato{
    list-style: none;
    display: flex;
    flex-flow: wrap;
    margin: 0;
    padding: 0;
}
.single_guia .info ul.contato{
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
}
.single_guia .info ul.social{
    align-items: center;
    color: #EA5324;
    font-size: 20px;
}
.single_guia .info h3 {
    margin: 0 0 10px;
}
.single_guia .info h3 span + span:before{
    content: '/';
    display: inline-block;
    margin: 0 5px;
}
.single_guia .info * + h3 {
    margin-top: 40px;
}
.single_guia .info ul.social a{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.single_guia .info ul.social li + li{
    margin-left: 5px;
}
.single_guia .info ul.contato li{
    width:33.333333%;
    padding: 0 15px;
    display: flex;
    flex-flow: column;
    font-size: 18px;
    color: #22274F;
}
.single_guia .info ul.contato li *{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #22274F;
}
.single_noticia article{
    background: #FFFFFF;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    padding: 45px 30px;
    display: flex;
    flex-flow: wrap;
}
.single_noticia article .top{
    font-family: Montserrat;
    display: flex;
    width: 100%;
    flex-flow: wrap;
    align-items: flex-start;
}
.single_noticia article .miolo{
    display: flex;
    width: 100%;
    flex-flow: wrap;

}
.single_noticia article .top .meta{
    display: flex;
    width: 100%;
    flex-flow: wrap;
    align-items: flex-end;
    justify-content: space-between;

}
.single_noticia article .top .author .info{
    color: #645F7D;
    font-size: 12px;
}
.single_noticia article h1{
    font-weight: normal;
    font-size: 38px;
    line-height: 1.2;
    color: #313C68;
    width: 100%;
    margin: 30px 0 0 0;

}
.single_noticia article #trigger1{
    transform: translateY(-70px);
}

.single_noticia article #trigger1,
.single_noticia article .meta,
.single_noticia article .tags {
    display: flex;
    width: 100%;
    flex-flow: column;
    align-items: flex-start;
}
.single_noticia article span.data{
    display: flex;
    width: 100%;
    flex-flow: column;
    align-items: flex-start;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.4;
    text-transform: uppercase;
    color: #645F7D;
    font-family: Montserrat;
    margin: 10px 0 0 0;
}
.single_noticia article .top .meta{
    margin-top: 30px;
}
.single_noticia article .top .meta ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-flow: wrap;
    font-size: 12px;
    line-height: 1.2;
    text-align: right;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #645F7D;
}
.single_noticia article .top .meta ul li{
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.single_noticia article .top .meta ul li:last-child{
    margin-right: 0;
}
.single_noticia article .top .meta ul li span{
    margin-left: 10px;
}
.single_noticia article  .post-thumbnail{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 15px;
    margin-bottom: 50px;
}
.single_noticia article img{
    max-width: 100%;
    height: auto;
}
.single_noticia article .social{
    width: 45px;
    float: left;
}
.single_noticia article .scrollmagic-pin-spacer,
.single_noticia article .scrollmagic-pin-spacer *,
.single_noticia article .social,
.single_noticia article .social *{
    /* Firefox */
    -moz-transition: all 0s ease;
    /* WebKit */
    -webkit-transition: all 0s ease;
    /* Opera */
    -o-transition: all 0s ease;
    /* Standard */
    transition: all 0s ease;

}
.single_noticia article .content{
    width: calc(100% - 80px);
    margin-left: 35px;
}

.single_noticia article .a2a_kit .a2a_svg {
    border-radius: 40px !important;
    padding: 11px;
}
.single_noticia aside.relacionados{
    width: 100%;
    margin: 90px 0 0 0;
}
body:not(.home) .vc_section#contato .wpb_text_column h3{
    margin-bottom: 20px !important;
}
.vc_section#contato .vc_row .vc_row .wpb_text_column > *{
    display: flex;
}
.vc_section#contato .vc_row .vc_row .wpb_text_column br{
    display: none;
}
.vc_section#contato .vc_row .vc_row .wpb_text_column > * p{
    float: left;
    width: 100%;
}
.vc_section#contato .vc_row .vc_row > * + *{
    border-left: 1px solid rgba(100, 95, 125, 0.1);
}
.vc_section#contato .vc_row .vc_row .vc_column-inner{
    padding: 0 !important;
}

.vc_section#contato .vc_row .vc_row .wpb_text_column > * a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    float: left;
    width: 100%;
    font-size: 18px;
    line-height: 1.2;
    color: #22274F;
    padding: 25px 20px;

}
.vc_section#contato .vc_row .vc_row .wpb_text_column em{
    font-style: normal;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}
.vc_section#contato .vc_row .vc_row .wpb_text_column em strong{
    display: flex;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    color: #22274F;
}

.vc_section#contato .vc_row .vc_row code{
    color: #EA5324;
    margin-right: 8px;
    font-size: 28px;
}
.vc_section#contato .vc_row .vc_row{
    margin-left: 0;
    margin-right: 0;
    background: #FFFFFF;

}

.vc_section#contato .wpb_text_column:not(:first-child) h3{
    margin-top: 30px !important;
}

.vc_section#contato ul.social{
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 28px;
}

.vc_section#contato ul.social a{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EA5324;
}

.vc_section#contato ul.social li + li{
    margin-left: 10px;
}

.vc_section#contato address{
    font-style: normal;
    margin-top: -5px !important;
}

.vc_section#contato .wpb_gmaps_widget{
    margin-top: 30px !important;
}
.vc_section#contato .wpb_gmaps_widget .wpb_wrapper{
    background: #E5E5E5;
    padding: 15px;
}

.vc_section#contato > *:first-child > *:last-child > * > .wpb_wrapper{
    background: #FFFFFF;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    padding: 40px !important;
}
.vc_section#contato .wpcf7  br{
    display: none;
}
.vc_section#contato .wpcf7 textarea.wpcf7-form-control.wpcf7-textarea {
    height: 150px;
}
.vc_section#contato .wpcf7 .label{
    margin-bottom: 5px !important;
    float: left;
    width: 100%;
}
#contato .desktop{
    display: block !important;
}
.wpuf-form-add.wpuf-form-layout3 ul.wpuf-form li .wpuf-fields .wpuf-help{
    color: inherit !important;
}





section.miolo.list-archive-section.tab-buttons {
    padding-bottom: 0 !important;
}

section.list-archive-section.tab-wrap {
    padding-top: 0px !important;
    background: #F5F5F5;
}
section.list-archive-section.tab-wrap .tab_cat.d_none,
section.list-archive-section.tab-wrap.tab_none{
    display: none;
}
a.back-btn {
    display: flex;
    align-items: center;
    float: left;
    text-transform: uppercase;


    font-weight: normal ;
    font-size: 12px ;
    line-height: 1 ;
    letter-spacing: 1px ;
    color: #EA5324 ;
    padding: 10px 0 ;
    margin: 0 0 30px;

}
a.back-btn i{
    font-size: .8em;
    margin-right: 6px;
}
a.back-btn:hover i,
a.back-btn:hover{
    color: #1b2751 ;
}
.separator-wrap {
    margin-top: 50px;
    width: 100%;
}

.separator-wrap.top{
    margin-top: 0px;
    margin-bottom: 50px;
}

@media(max-width: 1279px){

    .vc_section > .vc_row,
    .container{
        width: 970px !important;
    }

    header nav.main-navigation ul#primary-menu > li + li {
        margin-left: 10px;
    }
    header .branding {
        width: 180px;
    }
    header nav.main-navigation ul#primary-menu > li.menu-item-has-children > a {
        padding-right: 16px;
    }

    .destaque_archive .logo_morar:before, 
    .vc_section#podcast > * > *:nth-child(1):before, 
    footer .container > .news:before{
        width: calc(50vw - 455px);
    }
    .banner_destaque .container {
        height: 600px;
    }
    ul.novidades_topo .single .conteudo .txt {
        width: 100%;
    }
    .single .txt h3, .single .txt h2 {
        font-size: 20px;
    }
    ul.novidades_topo li:not(:first-child) .txt h2{
        margin-bottom: 0 !important;
    }
    ul.novidades_topo .single .conteudo {
        padding: 30px;
    }

    body.home section#colunas > * > *:nth-child(1){
        width: 66.66666667% !important;
    }
    body.home section#colunas > * > *:nth-child(2){
        width: 33.33333333% !important;
    }

    ul.podcast li,
    ul.colunas li{
        width: calc(50% - 30px);
    }
    
    body.home .vc_section#podcast > * > *:nth-child(1){
        width: 33% !important;
    }
    body.home .vc_section#podcast > * > *:nth-child(2){
        width: 67% !important;
    }
    ul.video.list li.single .side {
        width: 160px;
    }
    ul.video.list li.single > a .info {
        width: calc(100% - 160px);
        padding: 0 0 0 15px;
    }
    ul.pessoas{
        width: calc(100% + 10px);
        margin-left: -5px;
        margin-right: -5px;
    }
    ul.pessoas li {
        width: calc(25% - 10px);
        margin-left: 5px;
        margin-right: 5px;
    }
    ul.pessoas li > * {
        padding: 20px 20px 30px;
    }
    #acreditamos > .vc_row:not(:first-child) > * > * > * {
        padding: 60px 15px;
    }
    #acreditamos h4{
        font-size: 16px;
    }
    .archive_noticias ul.colunas li {
        width: calc(33.3333333333% - 30px);
    }
    .archive_noticias.archive_author ul.colunas > h4,
    .archive_noticias.archive_author .filtro, 
    .archive_noticias.archive_author ul.colunas .alm-reveal:first-child li:first-child {
        margin-left: calc(33.3333333333% + 15px);
    }
    .list-archive-section ul.video li{
        width: calc(50% - 30px);
    }
    .destaque_archive .logo_morar + p{
        padding-right: 0;
    }
    .archive_podcast ul.podcast li .block-img,
    .archive_podcast ul.podcast li .conteudo,
    .destaque_archive ul.podcast li .conteudo,
    .destaque_archive ul.podcast li .block-img {
        width: 50%;
    }
    .destaque_archive ul.video.list li.single .side {
        width: 60%;
    }
    .destaque_archive ul.video.list li.single > a .info{
        width: 40%;
    }
    .archive_podcast ul.podcast li .conteudo {
        padding-right: 0;
    }
    .destaque_archive.archive_podcast ul.podcast .single .conteudo .play{
        margin-bottom: 10px;
    }
    .destaque_archive.archive_podcast ul.podcast .single .conteudo .num_ep {
        margin-top: 15px;
    }
    .single .txt h3, .single .txt h2{
        font-size: 18px;
    }
    .destaque_archive ul.edicao li .info {
        width: 60%;
        margin-left: 0;
        padding-left: 30px;
    }
    ul.edicao li.single p {
        font-weight: normal;
        font-size: 12px;
    }
    section#obrigado > * ,
    body.page-id-250 section.vc_section > *{
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;
    }
    section#obrigado > * > .vc_col-sm-3,
    body.page-id-250 section.vc_section > * > .vc_col-sm-3 {
        display: none;
    }
    section#obrigado > * > .vc_col-sm-6,
    body.page-id-250 section.vc_section > * > .vc_col-sm-6 {
        width: 80%;
    }
    ul.novidades_topo .single .txt h2{
        font-size: 20px;
    }
    .destaque_archive .logo_morar:before,
    .vc_section#podcast > * > *:nth-child(1):before{
        left: 1px;
    }
    footer .container > .news:before{
        right: 1px;
    }
    footer .container > .news:after{
        left: 1px;
        content: '';
        background: #313C68;
        top: 0;
        bottom: 0;
        transform: translateX(-100%);
        position: absolute;
        width: calc(50vw - 350px);

    }
    footer .news{
        padding-left: 15px;
    }
    footer .container > .news {
        padding-top: 30px;
        padding-bottom: 25px;
        order: 1;
    }
    footer .container > *{
        order: 2;    
        padding-top: 50px;
        padding-bottom: 50px;
    }
    body.home ul.podcast{
        height: 500px;
    }

    
}
@media(max-width: 991px){

    .vc_section > .vc_row,
    .container{
        width: 760px !important;
    }
    header{
        height: 80px;
    }
    header + * {
        margin-top: 80px;
    }
    header .col-xs-12{
        position: relative;
    }
    header nav.main-navigation{
        position: static;
    }

    header nav.main-navigation .menu-toggle{
        display: flex;
        border-radius: 0;
        border:0;
        background: transparent;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        text-align: center;
        font-size: 12px;
        line-height: 1;
        color: #EA5324;

        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);

    }
    header form.search-form {
        margin-right: 50px;
    }
    header.search_active .menu-principal-container{
        opacity: 1;
    }
    header nav.main-navigation .menu-principal-container {
        position: fixed;
        top: 80px;
        right: 0;
        height:calc(100vh - 80px);
        width: 300px;
        background: #1B2751;
        transform: translateX(100%);
    }
    header nav.main-navigation.toggled .menu-principal-container{
        transform: translateX(0);
    }
    header.scroll nav.main-navigation .menu-principal-container{
        top: 60px;
        height:calc(100vh - 60px);

    }
    header nav.main-navigation ul {
        flex-flow: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    header nav.main-navigation ul#primary-menu > li + li{
        margin: 0;
    }
    header nav.main-navigation ul#primary-menu > li *,
    header nav.main-navigation ul#primary-menu > li {
        width: 100%;
        float: left;
    }
    header nav.main-navigation ul li.menu-item-has-children:before{
        display: none;
    }
    header nav.main-navigation ul a {
        padding: 12px 20px;
    }
    header nav.main-navigation .menu-principal-container > ul > li > a{
        border-top: 1px solid rgba(255,255,255,.05);
    }
    header nav.main-navigation .menu-principal-container > ul > li:last-child > a{
        border-bottom: 1px solid rgba(255,255,255,.05);
    }
    header nav.main-navigation ul ul.sub-menu {
        position: static;
        overflow: hidden;
        display: none;
    }

    header nav.main-navigation ul li.menu-item-has-children.menu-open-sub ul.sub-menu{
        display: block;
    }
    header nav.main-navigation ul#primary-menu > li.menu-item-has-children > a:after {
        right: 20px;
        display: none;
    }
    header nav.main-navigation ul#primary-menu > li.menu-item-has-children button.open-sub {
        position: absolute;
        right: 0;
        top: 0;
        width: 47px;
        height: 47px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: 0;
        border-left: 1px solid rgba(255,255,255,.1);
    }
    header nav.main-navigation ul#primary-menu > li.menu-item-has-children button.open-sub svg{
        width: 14px;
        height: 22px;
    }
    header nav.main-navigation ul li.menu-item-has-children.menu-open-sub button.open-sub svg{
        transform: rotate(180deg);
    }
    header nav.main-navigation ul#primary-menu > li.menu-item-has-children button.open-sub svg *{
        fill: #EA5324;
    }
    ul.novidades_topo li{
        width: 100%;
    }
    ul.novidades_topo li:not(:first-child) a, ul.novidades_topo li a {
        padding-top: 50%;
    }
    ul.novidades_topo .single .txt h2{
        font-size: 22px;
    }
    body.home #tvmorar > * > *:nth-child(1),
    body.home #tvmorar > * > *:nth-child(2),
    body.home .vc_section#podcast > * > *:nth-child(2),
    body.home .vc_section#podcast > * > *:nth-child(1),
    body.home section#colunas > * > *:nth-child(2),
    body.home section#colunas > * > *:nth-child(1){
        width: 100% !important;
    }
    body.home #tvmorar > * > *:nth-child(2),
    body.home section#colunas > * > *:nth-child(2) {
        margin-top: 40px;
    }
    #tvmorar > * > *:nth-child(2) .vc_row{
        padding-top: 0;
    }
    #tvmorar ul.video{
        margin-top: 0;
    }

    .destaque_archive .logo_morar:before, 
    .vc_section#podcast > * > *:nth-child(1):before, 
    footer .container > .news:before{
        width: calc(50vw - 350px);
    }
    body.home .vc_section#podcast > *{
        display: flex;
        flex-flow: wrap;
    }
    .vc_section#podcast > * > *:nth-child(1){
        padding-top: 30px !important;
        padding-bottom: 30px !important;
        background: linear-gradient(90deg, #EA5324 0%, #F6A141 52.38%);
    }
    .vc_section#podcast > * > *:nth-child(1){
        padding-bottom: 20px !important;
    }
    .vc_section#podcast > * > *:nth-child(1) figure img, .vc_section#podcast > * > *:nth-child(1) figure svg {
        max-width: 100%;
    }
    .vc_section#podcast > * > *:nth-child(1) .wpb_single_image {
        width: 180px;
    }
    .vc_section#podcast > * > *:nth-child(1) .wpb_text_column{
        width: calc(100% - 180px);
        padding-left: 40px;
    }
    .vc_section#podcast > * > *:nth-child(1) .wpb_text_column:first-child{
        width: 100%;
        padding-left: 0px;
    }
    body.home .vc_section#podcast > * > *:nth-child(1) > * > .wpb_wrapper {
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: flex-start;
    }
    .vc_section#podcast > * > *:nth-child(1) .wpb_text_column:last-child{
        margin-top: 0 !important;
    }
    .vc_section#podcast > * > *:nth-child(1):before{
        left: 1px;
    }
    body.home ul.podcast li:first-child {
        width: 100% !important;
    }
    body.home ul.podcast li.single:first-child > a, body.home ul.podcast li.single:first-child > a > *{
        float: left;
        width: 100%;
    }
    body.home ul.podcast .owl-stage-outer {
        overflow: visible;
    }
    .revista .container > * {
        order: 2;
    }
    .revista .container > *:last-child {
        order: 1;
        text-align: center;
        align-items: center;
        padding-bottom: 20px;
    }
    section.revista {
        background-size: auto 400px;
        background-position: bottom left;
    }

    ul.pessoas li {
        width: calc(50% - 30px);
        margin-left: 15px;
        margin-right: 15px;
    }
    ul.pessoas li .img {
        width: 80%;
        padding-top: 80%;
        margin-left: 10%;
    }

    ul.pessoas{
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-right: -15px;
    }
    section.list-archive-section, .miolo-site > * > section.vc_section{
        padding: 50px 0 !important;
    }
    .single_noticia aside.relacionados h2, .single_guia .info h3, body.archive #content h2, .wpb_text_column h2{
        font-size: 24px;
    }
    #fazemos {
        font-size: 14px;
    }
    #fazemos .vc_col-sm-8{
        padding-right: 0;
    }
    #fazemos > .vc_row:not(:first-child) > .vc_col-sm-8{
        width: 50%;
    }
    #fazemos > .vc_row:not(:first-child) > .vc_col-sm-4{
        width: 50%;
    }
    #acreditamos h3,
    body:not(.home) #fazemos .wpb_text_column h3 {
        margin-bottom: 0 !important;
    }
    #acreditamos > .vc_row:not(:first-child) > *{
        width: 50%;
    }
    #acreditamos > .vc_row:not(:first-child) > * > * > * {
        padding: 50px 40px;
    }
    .archive_noticias ul.colunas li {
        width: calc(50% - 30px);
    }
    .archive_noticias.archive_author ul.colunas > h4,
    .archive_noticias.archive_author .filtro, 
    .archive_noticias.archive_author ul.colunas .alm-reveal:first-child li:first-child {
        margin-left: 15px;
    }
    ul.pessoas.single {
        position: static;
        margin-bottom: 40px;
    }
    ul.pessoas.single li > * {
        padding-top: 40px;
        background: #E5E5E5;
    }
    ul.pessoas.single li {
        width: 100%;
        margin: 0;
    }
    body.single-guia ul.pessoas li .img,
    ul.pessoas.single li .img {
        width: 40%;
        padding-top: 40%;
        margin-left: 30%;
    }
    section.miolo.list-archive-section.archive_noticias.archive_author{
        padding-top: 0 !important;
    }
    .destaque_archive{
        padding-bottom: 60px;
    }
    .archive_podcast ul.podcast li .block-img, 
    .archive_podcast ul.podcast li .conteudo, 
    .destaque_archive ul.podcast li .conteudo, 
    .destaque_archive ul.podcast li .block-img {
        width: 100%;
    }
    .archive_podcast ul.podcast li .conteudo, 
    .destaque_archive ul.podcast li .conteudo {
        padding: 20px 0 0 0;
    }
    .archive_podcast ul.podcast li.single > a .imagem{
        padding-top: 100%;
    }
    .destaque_archive ul.video.list li.single > a .info,
    .destaque_archive ul.video.list li.single .side {
        width: 50%;
    }
    .destaque_archive ul.video.list .single .txt h3 {
        margin-top: 20px !important;
    }
    .destaque_archive ul.edicao li.single p{
        font-size: 18px;
    }
    ul.edicao.list li.single{
        width: calc(100% - 30px);
    }
    ul.edicao.list li .info {
        padding-top: 20px;
    }
    section.miolo.list-archive-section.archive_guia {
        padding-top: 0 !important;
    }
    section#contato > * > * {
        width: 100%;
    }

    #contato .desktop{
        display: none !important;
    }
    #contato .mobile{
        display: block !important;
    }
    .vc_section#contato > *:first-child > *:last-child > * > .wpb_wrapper{
        margin: 50px 0 !important;
    }
    section#obrigado > * > .vc_col-sm-6, body.page-id-250 section.vc_section > * > .vc_col-sm-6{
        width: 100% ;
    }
    .archive_noticias.archive_author .filtro {
        margin-left: 0;
    }
    body.home ul.podcast{
        height: 560px;
    }


}
@media(max-width: 767px){

    .vc_section > .vc_row,
    .container{
        width: 100% !important;
        max-width: 500px !important;
    }
    .banner_destaque .container {
        height: 380px;
        padding-bottom: 40px;
    }
    .banner_destaque h2 {
        font-size: 24px;
        margin: 30px 0 !important;
    }
    ul.novidades_topo {
        padding: 10px;
        margin-top: -40px;
    }
    ul.novidades_topo li:not(:first-child) a, ul.novidades_topo li a {
        padding-top: 55%;
    }
    ul.novidades_topo .single .txt p{
        display: none;
    }
    ul.novidades_topo .single .txt h2{
        margin-bottom: 0 !important;
    }
    ul.podcast li, ul.colunas li {
        width: calc(100% - 30px);
    }
    ul.podcast li.single > a, ul.colunas li.single > a {
        padding-top: 80%;
    }
    footer .container > .news:after,
    .destaque_archive .logo_morar:before, 
    .vc_section#podcast > * > *:nth-child(1):before, 
    footer .container > .news:before{
        width: calc(50vw - 220px);
    }
    .vc_section#podcast > * > *:nth-child(1) .wpb_text_column:nth-child(1) {
        padding-right: 0;
        position: absolute;
        top: 25px;
    }
    .vc_section#podcast > * > *:nth-child(1) .wpb_text_column:last-child {
        padding-right: 50px;
    }
    .vc_section#podcast > * > *:nth-child(1) {
        padding-top: 50px !important;
        padding-bottom: 20px !important;
    }
    body.home ul.podcast li.single > a{
        padding-top: 132%;
    }
    .vc_section#podcast .vc_btn3-container > * {
        width: 100% !important;
    }
    .vc_section#podcast .vc_btn3-container {
        margin-top: 0px !important;
    }
    .guia_bg h2 {
        font-size: 36px;
    }
    .guia_bg h3 {
        font-size: 18px;
    }
    .guia_bg p {
        padding: 0 40px;
    }
    section.revista {
        background-size: auto 250px;
    }
    footer .menu-principal-container{
        display: flex;
    flex-flow: column;}
    footer .menu-principal-container:before{
        content: 'Sitemap';
        color: #EA5324;
        border-bottom: 1px solid #EA5324;
        width: 100%;
        float: left;
        padding: 10px 0;
        margin-bottom: 15px;
        background: url(images/down.svg);
        background-repeat: no-repeat;
        background-position: right center;
    }
    footer .menu-principal-container ul.menu{
        display: none;
    }

    footer .menu-principal-container.active ul.menu{
        display: block;
    }
    footer .container > *:nth-child(2) {
        padding: 0 15px;
    }
    .list-archive-section ul.podcast li,
    .list-archive-section ul.video li,
    .archive_noticias ul.colunas li,
    ul.pessoas li{
        width: calc(100% - 30px);
    }
    #fazemos > .vc_row:not(:first-child){
        display: flex;
        flex-flow: column-reverse;
    }
    ul.edicao li .side,
    ul.edicao li .info,
    #fazemos > .vc_row:not(:first-child) > .vc_col-sm-4,
    #fazemos > .vc_row:not(:first-child) > .vc_col-sm-8{
        width: 100%;
    }
    #acreditamos > .vc_row:not(:first-child) > * > * > * {
        padding: 40px 30px;
    }
    .title_section h2, .title_section h1{
        font-size: 24px;
    }
    .title_section .col-xs-12 {
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .single_noticia article h1 {
        font-size: 24px;
        margin: 15px 0 0 0;
    }
    .single_noticia article {
        padding: 25px 20px;
        font-size: 14px;
    }
    .single_noticia article .content,
    .single_noticia article .social{
        width: 100%;
        margin-left: 0;
    }
    .single_noticia article .a2a_kit .a2a_svg {
        width: 32px !important;
        height: 32px !important;
        padding: 5px !important;
    }
    .single_noticia article .social .addtoany_shortcode {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .single_noticia article .post-thumbnail {
        margin-bottom: 15px;
    }
    .destaque_archive,
    section.list-archive-section, .miolo-site > * > section.vc_section{
        padding: 40px 0 !important;
    }
    .video.desktop{
        display: none !important;
    }
    .video.mobile{
        display: flex !important;
    }
    .video-responsive .topo > *:first-child {
        width: 56px;
        height: 56px;
        top: 40%;
    }
    ul.video.only .single .conteudo .txt{
        width: 100%;
    }
    ul.video.only .single .conteudo span.time{
        display: none;
    }
    ul.video.only li{
        padding: 10px;
    }
    ul.video.only .single .conteudo {
        padding: 20px;
    }
    ul.edicao li a {
        flex-flow: column-reverse;
        align-items: center;
    }
    ul.edicao.list li .info{
        width: 100%;
    }
    ul.edicao.list li .side,
     ul.edicao li .side {
        max-width: 170px;
        margin-top: 10px;
    }
    .destaque_archive ul.edicao.list li .side,
    .destaque_archive  ul.edicao li .side {
        max-width: 300px;
        width: 100%;
        margin-top: 20px;
    }
    ul.edicao li.single .txt,
    .destaque_archive ul.edicao li .info{
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        padding-left: 0;
    }
    ul.edicao.list li .info {
        padding: 5px 50px 10px !important;
    }
    ul.edicao li.single p {
        font-size: 14px;
        font-weight: 600;
    }
    section.topo.destaque_archive.archive_edicao {
        padding-bottom: 0 !important;
        padding-top: 10px !important;
    }
    .destaque_archive iframe {
        height: 350px !important;
    }
    
    .archive_guia .filtro {
        flex-flow: column;
        align-items: flex-start;
    }
    .archive_guia .filtro > ul {
        flex-flow: column;
    }
    .archive_guia .filtro > ul > li + li{
        margin-left: 0;
        margin-top: 10px;
    }
    .archive_guia .filtro > ul, .archive_guia .filtro > ul > li, .archive_guia .filtro > ul > li > * {
        width: 100%;
        float: left;
    }
    section.miolo.list-archive-section.archive_guia {
        padding-top: 30px !important;
    }
    .archive_guia .filtro h4 {
        margin: 0 0 15px;
    }
    #tvmorar > * > *:nth-child(1), #colunas > * > *:nth-child(1){
        padding-top: 40px !important;
    }
    ul.edicao, ul.pessoas, ul.video, ul.podcast, ul.colunas{
        margin-top: 0;
    }
    body.single-guia ul.pessoas li .img, ul.pessoas.single li .img {
        width: 60%;
        padding-top: 60%;
        margin-left: 20%;
    }
    .single_guia .info {
        padding: 30px 15px;
    }

    .single_guia .info ul.contato li {
        width: 100%;
    }
    .single_guia .info ul.contato li + li{
        margin-top: 25px;
    }
    .vc_section#contato > *:first-child > *:last-child > * > .wpb_wrapper,
    #obrigado .wpb_text_column, .vc_section .wpuf-form-add.wpuf-form-layout3{
        padding: 20px !important;
    }
    .vc_section#contato .wpb_gmaps_widget .wpb_wrapper{
        padding: 10px;
    }
    .vc_section#contato .vc_row .vc_row > * + * {
        border-top: 1px solid rgba(100, 95, 125, 0.1);
        border-left: 0;
    }
    body.single-guia ul.pessoas li .img, ul.pessoas.single li .img,
    ul.pessoas li .img{
        width: 60%;
        padding-top: 60%;
        margin-left: 20%;
    }
    .fancybox-content iframe {
        width: 100%;
        height: auto;
    }
    body.home ul.podcast{
        height: 590px;
    }
}


@media(max-width: 500px){
    .banner_destaque a.title h3{
        font-size: 12px;
    }
    .title_section {
        padding-right: 35%;
    }

    footer .container > .news:after,
    .destaque_archive .logo_morar:before, 
    .vc_section#podcast > * > *:nth-child(1):before, 
    footer .container > .news:before{
        width: 16px;
    }
    .single .txt h3, .single .txt h2,
    ul.novidades_topo .single .txt h2{
        font-size: 16px;
    }
    ul.novidades_topo .single .conteudo {
       padding: 15px;
    }
    ul.colunistas {
        margin-top: 10px;
    }
    ul.podcast li, ul.colunas li{
        margin-top: 30px;
    }
    .vc_section#podcast > * > *:nth-child(1) .wpb_single_image {
        width: 120px;
    }
    .vc_section#podcast > * > *:nth-child(1) .wpb_text_column:last-child {
        width: calc(100% - 120px);
        padding-right: 10px;
        padding-left: 20px;
    }
    .vc_section#podcast > * > *:nth-child(1) figure img, .vc_section#podcast > * > *:nth-child(1) figure svg{
        height: auto;
    }
    .vc_section#podcast > * > *:nth-child(1) .wpb_text_column:nth-child(1){
        top: 20px;
    }
    #tvmorar > * > *:nth-child(2) ul.video.list li {
        padding: 20px 25px;
    }
    .miolo-site > * > section.vc_section#tvmorar{
        padding-bottom: 0 !important;
    }
    body.home #tvmorar > * > *:nth-child(2) > .vc_column-inner {
        padding: 0;
    }
    #acreditamos > .vc_row:not(:first-child) > * > * > * {
        padding: 30px 15px;
        margin-top: 10px;
    }
    #acreditamos h4 {
        font-size: 14px;
    }
    #acreditamos > .vc_row:not(:first-child) > * > * {
        padding-left: 5px;
        padding-right: 5px;
    }
    #acreditamos > .vc_row:not(:first-child) {
        padding-left: 10px;
        padding-right: 10px;
    }

    .filtro {
        flex-flow: column;
        align-items: flex-start;
    }
    .filtro h4 {
        margin: 0 0 15px;
    }
    .filtro > ul {
        flex-flow: column;
    }
    .filtro > ul > li + li{
        margin-left: 0;
        margin-top: 10px;
    }
    .filtro,
    .filtro > ul, 
    .filtro > ul > li, 
    .filtro > ul > li > * ,
    .filtro > ul > li > span{
        width: 100%;
        float: left;
    }
    .guia_bg h2 {
        font-size: 24px;
    }
    .guia_bg h3{
        margin-top: 15px;
    }
    .guia_bg p {
        padding: 0 20px;
    }
    .alm-btn-wrap .alm-load-more-btn, .vc_btn3-container > .vc_btn3-style-outline {
        padding: 20px 20px !important;
        width: 100% !important;
    }
    header.search_active form.search-form input {
        width: calc(100vw - 120px);
    }
    .single_noticia aside.relacionados{
        margin-top: 50px;
    }
    header.search_active .branding {
        opacity: 0;
    }

    header nav.main-navigation .menu-principal-container{
        width: 100%;
    }
    .single_guia .info {
        padding: 25px 10px;
    }
    .single_guia ul.pessoas li > * {
        padding: 30px 25px;
    }
    .destaque_archive .logo_morar {
        padding: 25px 80px 25px 0;
        margin: 0 0 25px;
    }
    .destaque_archive .logo_morar > * {
        width: 120px;
        height: auto;
    }
    .fancybox-content {
        padding: 0px !important;
        overflow: visible !important;
    }
    .fancybox-slide--html .fancybox-close-small {
        transform: translateY(-100%) !important;
        padding: 2px !important;
        width: 30px !important;
        height: 30px !important;
        right: -5px !important;
    }
    ul.video.only .single .conteudo {
        padding: 10px;
    }
    .video-responsive .topo > *:first-child{
        top: 35%;
    }
    .fancybox-slide.fancybox-slide--video{
        padding: 20px !important;
    }
    ul.edicao.list li .side, ul.edicao li .side{
        width: 100%;
    }
    ul.edicao.list li .info {
        padding: 5px 30px 10px !important;
    }
    .destaque_archive ul.edicao.list li .side, .destaque_archive ul.edicao li .side {
        max-width: 250px;
    }
    .vc_section .wpuf-form-add.wpuf-form-layout3 {
       padding: 15px 5px !important;
    }
    section.revista {
        background-size: auto 190px;
    }
    body.home ul.podcast{
        height: auto;
    }

}
@media(max-width: 373px){
    .single .conteudo {
        padding: 15px 10px 10px;
    }
    #tvmorar .title-coluna img, #tvmorar .title-coluna svg, #colunas .title-coluna img, #colunas .title-coluna svg{
        margin-right: 15px;
    }
    ul.video.list li.single .side {
        width: 145px;
    }
    ul.video.list li.single .conteudo {
        padding: 10px;
    }
    ul.video.list .video-responsive .topo > *:first-child {
        right: 10px;
        bottom: 10px;
    }
    ul.video.list li.single > a .info{
        width: calc(100% - 145px);
    }
    section.revista {
        background-size: auto 160px;
    }

    
}

